<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-CA' }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/eve-main.css' | relative_url }}">
    <script src="{{ '/assets/js/eve_main.js' | relative_url }}" defer></script>
</head>
<body>
    <header><h1>{{ page.title }}</h1></header>
    <nav>
        {{ content }}
    </nav>
</body>
</html>